* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: 'Chau Philomene One', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
    background-color: #1b1428;
}

.container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
}

.mainContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.typeInfoContainer {
    height: 2.5rem;
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.wordsContainer {
    width: 71.2%;
    height: 25rem;
    /* background-color: #2b2348; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    text-align: center;
    font-size: 1.5rem;
    letter-spacing: 3px;
    word-spacing: 10px;
    border-radius: 0.5rem;
}

.wordsContainer p .correct {
    color: rgb(221, 220, 220)
}

.wordsContainer p .incorrect {
    color: rgb(255, 55, 0);
    background-color: rgba(255, 28, 28, 0.358);
}

.wordsContainer p {
    color: rgb(148, 148, 148);
    font-family: 'Roboto', sans-serif;
    text-align: start;
}

.wordsContainer p span {
    color: rgb(116, 116, 116);
}

.wordsContainer span {
    color: white;
    font-family: 'Roboto', sans-serif;
}

.wpmText,
.timer {
    font-size: 1.2rem;
}

.restartBtn {
    padding: 0.5rem 1.75rem;
    background-color: rgba(255, 0, 0, 0);
    font-size: 1.5rem;
    border: none;
    border-radius: 0.35rem;
    transition: 0.3s;
}

.restartBtn:hover {
    cursor: pointer;
    color: rgb(128, 0, 0);
}