<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Chau+Philomene+One&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="TypePage/styles.css">
    <title>OnSite-02</title>
</head>

<body>
    <div class="container">
        <section>
            <h1 class="TypeMasterLogo">TypeMaster</h1>
            <a href="/logout">LOGOUT</a>
        </section>
        <div class="mainContainer">
            <main class="typeInfoContainer">
                <span class="wpmText">WPM : <span>00</span></span>
                <span class="timer">60:00</span>
                <button class="restartBtn">Restart</button>
            </main>
            <div class="wordsContainer">
                <input style="color: black;position: fixed;top:150%;" type="text" class="inputFeild">
                <p class="words"></p>
            </div>
        </div>
    </div>
    <script src="TypePage/main.js"></script>
</body>

</html>